{{ partial "meta.html" . }}
<body class="index">
{{ partial "nav.html" . }}

<div class="container">
  <div class="break"></div>
  <div class="break"></div>
  <div class="break"></div>

  <h1 class="h1 bold"><b>There is nothing here.</b></h1>
  <p>We call it the 404. We are too cheap to make a pretty page for it, though.</p>

  <div class="break"></div>

  <div>
    <a href="/">Back to homepage</a>
  </div>
  <div>
    <a href="/early-access">Try Chorale</a>
  </div>
  <div>
    <a href="/contact">Get support</a>
  </div>

  <div class="break"></div>
  <div class="break"></div>
  <div class="break"></div>
</div>

{{ partial "footer.html" . }}
