{{ partial "meta.html" . }}
<body class="index">
{{ partial "nav.html" . }}
<main class="hero center-mobile">
  <div class="container"><div class="row padded-row">
    <div class="col flex-align">
      <h1 class="h0">
        <b>"coDesign" is a next-gen aggregator-curator for code+design enthusiasts</b>
      </h1>
      <p>Separating the signal from the noise, we curate only the best and most relevant code+design content from across the Interwebs. Newsletter in early access; Podcast every Wednesday.</p>

      <div class="break-sm"></div>
      <div class="btn-group">
        <a href="/early-access" class="btn btn--black">Join early access</a>
        <a href="#comparison" class="btn btn--bladark">Take me to the podcasts</a>
      </div>
    </div>
    <div class="col">
      <img src="/img/chaos.jpg" class="stretch-img">
    </div>
  </div></div>
</main>

<section id="comparison">
  <div class="container container--narrow">
    <div class="break"></div><div class="break"></div>
    <h2 class="h1 bold center"><b>We're completely Open Source</b></h1>
    <p class="bold center">Everything, from each and every curation to the basic layout of each and every page of ours has been open soureced. Feel free to contribute to the code and make coDesign more of a community effort.<a href="/contact">contact us</a>!</p>

  <div class="break"></div><div class="break"></div>
</section>

<section id="" class="container">
  <div class="row padded-row">
    <figure class="col flex-align">
      <img data-src="/img/hiapp.png" class="tour__laptop stretch-img">
    </figure>
    <figure class="col flex-align">
      <h2 class="h0 bold"><b>You’re probably in disbelief.</b></h2>
      <p>Hopefully we’ve made our point clear. Chorale is here to win you over.
      So, if you’re a listener, <a href="/early-access"><u>sign up and get
      Chorale early</u></a>! Artists, we haven’t forgotten about you either!
      You can <a href="/creators"><u>learn more on the Creator Center</u></a>.
      Last off, if you have any questions, hit that bubble at the bottom right
      of your screen and we’ll get back to you ASAP. (In case we’re not available,
      leave your email and expect a reply in a day.)</p>
    </figure>
  </div>

  <div class="break"></div><div class="break"></div>
</section>

<!-- Content -->
{{ partial "footer.html" . }}
