{{ partial "meta.html" . }}
<body class="index">
{{ partial "nav.html" . }}
<main class="hero center-mobile">
  <div class="container"><div class="row padded-row">
    <div class="col flex-align">
      <h1 class="h0">
        <b>"coDesign" is a next-gen aggregator-curator for code+design enthusiasts</b>
      </h1>
      <p>Separating the signal from the noise, we curate only the best and most relevant code+design content from across the Interwebs. Newsletter in early access; Podcast every Wednesday.</p>

      <div class="break-sm"></div>
      <div class="btn-group">
        <a href="/early-access" class="btn btn--black">Join early access</a>
        <a href="#comparison" class="btn btn--bladark">Take me to the podcasts</a>
      </div>
    </div>
    <div class="col">
      <img src="/img/chaos.jpg" class="stretch-img">
    </div>
  </div></div>
</main>

<!-- Content -->
{{ partial "footer.html" . }}
